.dashboard-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-complete-button,
.play-challenge-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px;
  margin: 0.5rem;
  width: 100%;
  height: 3rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  text-shadow: var(--text-border);
  box-shadow: var(--main-box-shadow);
}

.play-complete-button {
  background-color: orange;
}

.play-complete-button:hover {
  transform: scale(1.1);
}

.play-challenge-button {
  background-color: #79c819;
}

.play-challenge-button:hover {
  transform: scale(1.1);
}

.streak span {
  font-weight: 600;
}
