.htp-container {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 40%;
  height: 75%;
  z-index: 20;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2.5rem 2.5rem 2.5rem;
  overflow: auto;
  pointer-events: all;
}

.htp-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.htp-container .logo {
  width: 35%;
}

.htp-container .close-btn {
  position: absolute;
  right: 0;
  width: 7%;
  margin: 0.2rem;
  cursor: pointer;
}

.htp-container h1 {
  font-size: 2rem;
  font-weight: 600;
}

.htp-container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 1rem 0 1rem;
  transform: rotate(12deg);
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.end-summary {
  font-weight: 600;
  text-align: center;
}

/* https://codepen.io/halvo/pen/NdwgNP */

.lets-go-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: aqua;
  /* width: auto;
  height: 15%; */
  background-color: #339dff;
  color: #fff;
  border-radius: 50px;
  transition: all 0.3s;
  margin-top: 1rem;
  padding: 0.5rem;
}

.lets-go-button:hover {
  background: #fff;
  color: #339dff;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

@media (height > 600px) {
  .htp-container {
    height: 50%;
  }
}

@media (width > 1200px) {
  .htp-container {
    width: 30%;
  }
}
