.htp-container {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 40%;
  height: 75%;
  z-index: 20;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2.5rem 2.5rem 2.5rem;
  overflow: auto;
}

.htp-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.htp-container .logo {
  width: 35%;
}

.htp-container .close-btn {
  position: absolute;
  right: 0;
  width: 7%;
  margin: 0.2rem;
  cursor: pointer;
}

.htp-container h1 {
  font-size: 2rem;
  font-weight: 600;
}

.htp-container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 1rem 0 1rem;
  transform: rotate(12deg);
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.end-summary {
  font-weight: 600;
  text-align: center;
}

@media (height > 600px) {
  .htp-container {
    height: 50%;
  }
}
