.leaderboards-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.leaderboard-card-wrapper {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 80%;
  gap: 0.4rem;
}

.leaderboard-settings {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.settings-right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.friend-all-picker {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.friend-all-picker a {
  cursor: pointer;
}

.leaderboard-type {
  display: flex;
  gap: 0.7rem;
  align-items: flex-end;
}

.leaderboard-type a {
  cursor: pointer;
}

.selected-timeframe {
  font-weight: 600;
  background-color: #79c819;
  color: white;
}

.selected {
  font-weight: 600;
}

.timeframe-not-allowed-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  cursor: not-allowed;
}

.timeframe-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  cursor: pointer;
}

.timeframe-upper {
  border: 1px solid black;
  height: 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeframe-lower {
  border: 1px solid black;
  height: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.leaderboard-card-outer {
  /* width: 70%; */
}

.leaderboard-card-inner-upper {
  display: flex;
  background-color: white;
  width: 100%;
  height: 4rem;
  border: 1px solid black;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.leaderboard-card-inner-lower {
  background-color: white;
  width: 100%;
  height: 60vh;
  border: 1px solid black;
  border-top-width: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
  overflow: auto;
}

.leaderboard-data {
  /* height: 100%; */
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.submission {
  display: flex;
  justify-content: space-between;
}

.submission-left {
  display: flex;
  gap: 0.5rem;
}

.submission-left img {
  width: 7%;
  border-radius: 3px;
}
