.main-container {
  min-height: 100vh;
  /* background-image: url("../images/cubes.png"); */
  /* background-image: url("../images/inflicted.png"); */
  /* background-image: url("../images/beige-paper.png"); */
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.logo {
  width: 10rem;
  margin: 2.5rem 0 0 0;
}

.website-name {
  font-size: 3rem;
  margin: 0.5rem;
  font-weight: 800;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 0.5rem;
  width: 2rem;
}

.avatar img {
  border-radius: 5px;
}

.username {
  font-weight: 600;
  font-size: 2rem;
}

.lower-content {
  flex: 1;
  display: flex;
}

.left-lower-content {
}

.nav-bar-wrapper {
  margin: 0 0 0 1rem;
}

.right-lower-content {
  flex: 1;
}
