:root {
  /* --main-box-shadow: 0 0.275rem 1.125rem rgba(0, 0, 0, 0.25),
    inset 0 0.0625rem 0 hsla(0, 0%, 100%, 0.2),
    inset 0 -0.125rem 0 rgba(0, 0, 0, 0.3); */
  --main-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.pointer-events-disabled {
  pointer-events: none;
}

.main-container {
  min-height: 100vh;
  /* background-image: url("../images/cubes.png"); */
  /* background-image: url("../images/inflicted.png"); */
  /* background-image: url("../images/beige-paper.png"); */
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.logo {
  width: 13%;
  margin: 0.5rem 0 0 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.avatar {
  margin-right: 0.5rem;
  width: 2rem;
}

.avatar img {
  border-radius: 5px;
  border: 1px solid black;
}

.username {
  font-weight: 600;
  font-size: 2rem;
}

.lower-content {
  flex: 1;
  display: flex;
}

.nav-bar-wrapper {
  margin: 0 0 0 1rem;
}

.right-lower-content {
  flex: 1;
}

.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #d8000c;
  background-color: #ffbaba;
}

.success-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #270;
  background-color: #dff2bf;
}
