body {
  margin: 0;
  padding: 0;
}

.website-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.website-title a {
  text-decoration: none;
  color: black;
  display: block;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  display: block;
}

.last-item {
  margin-left: auto;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: blue;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .toggle-button {
    display: flex;
  }

  .navbar li {
    display: none;
  }
}
