.play-daily-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.go-back {
  top: 0;
  left: 0;
  width: 5%;
  background-color: rgba(1, 2, 1, 0.6) !important;
  opacity: 0.9;
  margin: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.1rem;
}

.go-back:hover {
  background-color: rgba(26, 27, 26, 0.6) !important;
}

.go-back img {
  width: 60%;
  filter: invert(100%);
}

.question-counter {
  width: 5%;
  background-color: rgba(1, 2, 1, 0.6) !important;
  opacity: 0.9;
  margin: 0.5rem;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.street-view-container {
  height: 100%;
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

.map-picker-container {
  height: 25%;
  width: 30%;
  bottom: 8%;
  right: 3%;
  position: fixed !important;
  transition: all 0.2s ease-in-out;
}

.map-picker {
  height: 95%;
  width: 100%;
  z-index: 10;
}

.map-picker-container:hover {
  height: 50%;
  width: 60%;
}

.submit-answer {
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
  margin-top: 0.3rem;
  border-radius: 1rem;
  align-items: center;
  cursor: not-allowed;
  box-shadow: 0 0.275rem 1.125rem rgba(0, 0, 0, 0.25),
    inset 0 0.0625rem 0 hsla(0, 0%, 100%, 0.2),
    inset 0 -0.125rem 0 rgba(0, 0, 0, 0.3);
  height: 30px;
}

.marker-placed {
  background-color: #79c819;
  cursor: pointer;
}

.results-summary-container {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
  display: flex;
  border: 2px solid black;
}

.result-map-container {
  width: 70%;
}

.result-info-container {
  background-color: white;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-info-container h1 {
  font-size: 2rem;
  font-weight: 600;
}

.result-info-container .logo {
  width: 40%;
}

.next-question {
  display: flex;
  justify-content: center;
  background-color: #79c819;
  color: white;
  margin-top: 2rem;
  border-radius: 1rem;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0.275rem 1.125rem rgba(0, 0, 0, 0.25),
    inset 0 0.0625rem 0 hsla(0, 0%, 100%, 0.2),
    inset 0 -0.125rem 0 rgba(0, 0, 0, 0.3);
  height: 10%;
  width: 50%;
  transition: transform 0.2s ease-in-out;
}

.summary {
  width: 60%;
}

.next-question:hover {
  background-color: rgb(140, 219, 44);
  transform: scale(1.1);
}
